{% extends 'RapidReferral/base_form.html' %}
{% block script %}
{% endblock %}



{% block footer %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'RapidReferral/jquery.datetimepicker.css' %}"/>
<script src="{% static 'RapidReferral/jquery.datetimepicker.js' %}"></script>
<script>
jQuery('#id_time').datetimepicker({
    format:'Y-m-d h:m',
    });
 </script>
{% endblock %}