{% extends 'RapidReferral/base_detail.html' %}

{% block detail %}

{% if appointment %}
<h1>Appointment:</h1>
<p>
<a href="{% url 'RapidReferral:appointments' %}?patient={{ appointment.patient.id }}">{{ appointment.patient.full_name }}</a>
will go to 
<a href="{% url 'RapidReferral:appointments' %}?office={{ appointment.office.id }}">{{ appointment.office }}</a>
to see 
<a href="{% url 'RapidReferral:appointments' %}?doctor={{ appointment.doctor.id }}">Dr. {{ appointment.doctor.full_name }}</a> 
for
{{ appointment.specialty }}
on 
{{ appointment.time }}</p>

<p class="helptext">Click on a link to view all appointments for that item</p>

{% else %}
<h1>no appt found with that ID</h1>

{% endif %}

{% endblock %}