{% extends 'RapidReferral/base_list_table_filtered.html' %}


{% load staticfiles %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'RapidReferral/jquery.datetimepicker.css' %}"/>
{% endblock %}

{% block no_data %}<h1>No appointments found with those criteria</h1>{% endblock %}

{% block footer %}
{{ block.super }}

<script src="{% static 'RapidReferral/jquery.datetimepicker.js' %}"></script>
<script>
jQuery('#id_time').datetimepicker({
    format:'Y-m-d h:m',
    });
jQuery('#id_time2').datetimepicker({
    format:'Y-m-d h:m',
    });
</script>

{% endblock %}

