{% extends 'RapidReferral/base_list_table.html' %}

{% load staticfiles %}

{% block links %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'RapidReferral/filterTable.css' %}">

{% endblock %}

{% block body %}
{{ block.super }}
<form method="get">
    <table class="filterTable">
    <tr><th colspan=2 class="filterHead">Filter appointments by:</th></tr>
    {{ form }}
    <tr><td colspan=2><input type="submit" value="Filter" class="filterButton"></td></tr>
    </table>
</form>
{% endblock %}

