{% extends 'RapidReferral/base_list.html' %}

{% block list %}
    {% if object_list %}

        {% block table %}
        <table>
            
            {% for item in object_list %}
            
            {% if forloop.first %}
            {% block table_header %}
            <tr>
                {% for field_name in item.field_names %}
                <th>{{ field_name }}</th>
                {% endfor %}
            </tr>
            {% endblock %}
            {% endif %}
                
            {% block table_row %}
            <tr class="{% cycle 'norm' 'alt' %}">
                {% for data in item.all_field_data %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endblock %}
            
            {% endfor %}
        
        </table>
        {% endblock %}
    
    {% else %}
        {% block no_data %}<h1>No Data</h1>{% endblock %}
    {% endif %}
{% endblock %}
