{% extends 'RapidReferral/base.html' %}

{% block body %}
<form method="post">
    <table>
        {% csrf_token %}
        {{ form }}
        <tr><td><input type="submit" value="Confirm"></td></tr>
    </table>
</form>
{% endblock %}
