{% extends 'RapidReferral/base.html' %}

{% block body %}
{% block list %}
    {% if object_list %}
        <ul>
        {% for object in object_list %}
            {% block list_item %}{% endblock %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No objects found.</p>
    {% endif %}
{% endblock %}
{% endblock %}