{% load staticfiles %}

<!DOCTYPE html>
<hmtl>
<head>
{% block head %}
    <title>{% block title %}RapidReferral{% endblock %}</title>
    
    {% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'RapidReferral/dropdown-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RapidReferral/dropdown-menu-skin.css' %}">
    {% endblock %}   
        
    <style>
    {% block style %}

    table {
        border-left: 1px solid #B0CCFF;
        border-bottom: 1px solid #B0CCFF;
        border-radius: 10px;
        overflow: hidden;
    }
    
        
    th, td {
        border-top: 1px solid #B0CCFF;
        border-right: 1px solid #B0CCFF;
    }
    
    table {
        border-spacing: 0;
    }

    th {
        background-color: #387BA6;
        color: #ffffff;
    }

    td {
        padding: 3px 6px 3px 6px;
    }

    tr.alt td {
        color: #000000;
        background-color: #addfff;
    }

    p.helptext {
        font-style: italic;
        color: #91ADBF;
    }

    
    a, a:active { 
        text-decoration: none 
    }

    {% endblock %}
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">{% block script %}{% endblock %}</script>

{% endblock %}
</head>

<body>
{% block menu %}


<ul id="navigation" class="dropdown-menu dropdown-menu-skin">
    <li><a href="#">Patients</a>
        <ul>
            <li><a href="{% url 'RapidReferral:patients' %}">Patient list</a></li>
            <li><a href="{% url 'RapidReferral:patient_entry' %}">Create patient</a></li>
        </ul>
    </li>
    <li><a href="#">Doctors</a>
        <ul>
            <li><a href="{% url 'RapidReferral:doctors' %}">Doctor list</a></li>
            <li><a href="{% url 'RapidReferral:doctor_entry' %}">Create doctor</a></li>
        </ul>
    </li>
    <li><a href="#">Offices</a>
        <ul>
            <li><a href="{% url 'RapidReferral:offices' %}">Office list</a></li>
            <li><a href="{% url 'RapidReferral:office_entry' %}">Create office</a></li>
        </ul>
    </li>
    <li><a href="#">Appointments</a>
        <ul>
            <li><a href="{% url 'RapidReferral:appointments' %}">Appointment list</a></li>
            <li><a href="{% url 'RapidReferral:appointment_entry' %}">Create appointment</a></li>
        </ul>
    </li>
</ul>

{% endblock %}

{% block body %}

{% endblock %}


{% block menu-footer %}

<script type="text/javascript" src="{% static 'RapidReferral/dropdown-menu.min.js' %}"></script>

<script type="text/javascript">
$(function() {
    $('#navigation').dropdown_menu({
        sub_indicators : true,
        drop_shadows : true,
        close_delay : 500
    });
});
</script>
{% endblock %}

{% block footer %}{% endblock %}

</body>

</html>
