{% extends 'RapidReferral/base_detail.html' %}

{% block detail %}

{% if doctor %}
    <h1>Dr. {{ doctor.full_name }}</h1>
    <h3>Specialties:</h3>
        <ul>
        {% for specialty in doctor.specialties.all %}
            <li>{{ specialty }}</li>
        {% endfor %}
        </ul>
    <h3>Offices:</h3>
        <ul>
        {% for office in doctor.office_set.all %}
            <li><a href="{% url 'RapidReferral:office_detail' office.id %}">{{ office }}</a></li>
        {% endfor %}
        </ul>
{% else %}
    <p>No doctor found with that ID.</p>
{% endif %}

{% endblock %}