{% extends 'RapidReferral/base_list.html' %}

{% block list_item %}
    <li><a href="{% url 'RapidReferral:doctor_detail' object.id %}">{{ object.full_name }}</a> 
    / Primary care patients: {{ object.patient_set.count }}
    / Specialty Patients: {{ object.patients.count }}</li>
{% endblock %}