{% extends 'RapidReferral/base_detail.html' %}

{% block detail %}

{% if office %}
    <h1>{{ office }}</h1>
    <h3>Doctors at this location:</h3>
    {% include 'RapidReferral/doctor_list.html' with object_list=office.doctors.all %}
{% else %}
    <p>No office found with that ID.</p>
{% endif %}

{% endblock %}