{% extends 'RapidReferral/base_detail.html' %}

{% block detail %}

{% if patient %}
    <h1>{{ patient.full_name }}</h1>
    <h3>Primary Care physician:
    {% if patient.pcp %}
        <a href="{% url 'RapidReferral:doctor_detail' patient.pcp.id %}">{{ patient.pcp.full_name }}</a></li>
    {% else %}
        none
    {% endif %}
    </h3>
{% else %}
    <p>No patient found with that ID.</p>
{% endif %}

{% endblock %}