
.filterTable {
    width: 300px;
    background-color: #addfff;
    border: 0px;
    border-radius: 10px;
    position: fixed;
    top: 1em;
    right: 1em;
    border-spacing:0;
    overflow: hidden;
}

.filterTable tr, .filterTable td, .filterTable th {
    border: 0px;
    color: #387BA6;
    border-radius: 10px;
}

th.filterHead {
    color: #000000;
    font-size: 150%;
}

.filterTable td, .filterTable th {
    background-color: #addfff;
}


.filterTable select, .filterTable input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}


    

.filterButton {
    width: 100%;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.filterButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.filterButton:active {
	position:relative;
	top:1px;
}
